#profileContainer {
    overflow: auto;
}

.media{
    width: 730px;
    margin-left: 50px;
    margin-top: 10px;
    border-bottom: 2px solid #e2e2e2;
   }

#media-row h4 {color: #333;
    font-weight: 400;
    position: relative;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 0;
    text-transform: none;
}

#media-row h5 {color: rgb(194, 194, 194);
    font-weight: 500;
    position: relative;
    margin-left: 30px;
    font-size: 12px;
    letter-spacing: 0;
    text-transform: none;
}

.heading4 {
    font-weight: 700;
    position: relative;
    padding-bottom: 2px;
    padding-top:2px;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 1.3;
    text-transform: none;
}